export(combineData)
export(createAnnotation)
export(createMatrix)
export(distributionDistance)
export(dnaCopySf)
export(fragLengCorr)
export(mlSummarization)
export(normalizeAverage)
export(normalizeCels)
export(normalizeNpData)
export(normalizeSequenceEffect)
export(plotDendrogram)
export(plotDensity)
export(plotEvalIc)
export(plotRegions)
export(plotSmoothScatter)
export(plotViolines)
export(slSummarization)
export(sparseFarmsC)
export(summarizeFarmsExact)
export(summarizeFarmsExact2)
export(summarizeFarmsExact3)
export(summarizeFarmsGaussian)
export(summarizeFarmsMethods)
export(summarizeFarmsStatistics)
export(summarizeFarmsVariational)
export(summarizeWindowBps)
export(summarizeWindowMethods)
export(summarizeWindowStd)
importFrom(affxparser,readCelHeader)
importFrom(affxparser,readCelIntensities)
importFrom(DNAcopy,CNA)
importFrom(DNAcopy,segment)
importFrom(DNAcopy,smooth.CNA)
importFrom(lattice,bwplot)
importFrom(lattice,panel.bwplot)
importFrom(lattice,panel.violin)
importFrom(oligoClasses,chromosome2integer)
importFrom(oligoClasses,initializeBigMatrix)
importFrom(oligoClasses,ldPath)
importFrom(oligo,cleanPlatformName)
importFrom(preprocessCore,normalize.quantiles.use.target)
importFrom(snowfall,sfClusterEval)
importFrom(snowfall,sfExport)
importFrom(snowfall,sfInit)
importFrom(snowfall,sfLapply)
importFrom(snowfall,sfLibrary)
importFrom(snowfall,sfStop)
importMethodsFrom(DBI,dbGetQuery)
importMethodsFrom(oligoClasses,db)
useDynLib(cn.farms)
