export(combineData)
useDynLib(cn.farms)
importMethodsFrom(oligoClasses, db)
importMethodsFrom(DBI, dbGetQuery)
importFrom(affxparser, readCelHeader)
importFrom(oligo, cleanPlatformName)
importFrom(oligoClasses, ldPath)
importFrom(oligoClasses, chromosome2integer)
export(createAnnotation)
importFrom(oligoClasses, initializeBigMatrix)
export(createMatrix)
export(distributionDistance)
importFrom(DNAcopy, CNA)
importFrom(DNAcopy, smooth.CNA)
importFrom(DNAcopy, segment)
export(dnaCopySf)
export(fragLengCorr)
export(normalizeAverage)
export(normalizeCels)
export(normalizeNpData)
importFrom(affxparser, readCelIntensities)
importFrom(preprocessCore, normalize.quantiles.use.target)
importFrom(snowfall, sfInit)
importFrom(snowfall, sfExport)
importFrom(snowfall, sfLibrary)
importFrom(snowfall, sfLapply)
importFrom(snowfall, sfClusterEval)
importFrom(snowfall, sfStop)
export(plotDendrogram)
export(plotDensity)
export(plotEvalIc)
export(plotSmoothScatter)
export(plotRegions)
export(plotViolines)
importFrom(lattice, bwplot)
importFrom(lattice, panel.violin)
importFrom(lattice, panel.bwplot)
export(sparseFarmsC)
export(mlSummarization)
export(slSummarization)
export(summarizeFarmsGaussian)
export(summarizeFarmsExact)
export(summarizeFarmsVariational)
export(summarizeFarmsMethods)
export(summarizeFarmsStatistics)
export(summarizeWindowStd)
export(summarizeWindowBps)
export(summarizeWindowMethods)
